---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import MoreComing from '../components/MoreComing.astro';
import GsapAnimations from '../components/GsapAnimations.astro';
---
<Layout title="GSAP / WEBGL COLLECTION | KingTroy">
  <Navbar />
  <main class="main">
    <Hero />
    <Projects />
    <MoreComing />
  </main>
  <GsapAnimations />
</Layout>
