<nav class="navbar">
  <div class="navbar-left">KINGTROY</div>
  <div class="navbar-right">
    <a href="#" class="navbar-link">SUBSCRIBE</a>
    <a href="#" class="navbar-link">GITHUB</a>
  </div>
</nav> 