---
import ProjectCard from './ProjectCard.astro';
---
<div class="projects">
  <ProjectCard 
    number="001" 
    name="Animated Responsive Landing Page Website using GSAP" 
    image="assets/img_1.jpg" 
    href="/project-001" />
  <ProjectCard 
    number="002" 
    name="Animated CG Team Page with GSAP | Seamless Scroll" 
    image="assets/img_2.jpg" 
    href="/project-002" />
  <ProjectCard 
    number="003" 
    name="COMING SOON" 
    image="assets/img_3.png" 
    href="/project-003" />
</div>