---
import ProjectCard from './ProjectCard.astro';
---
<div class="projects">
  <ProjectCard 
    number="001" 
    name="PROGRESSIVE BLUR" 
    image="https://images.unsplash.com/photo-1519125323398-675f0ddb6308?auto=format&fit=crop&w=1200&q=80" 
    href="project-001.html" />
  <ProjectCard 
    number="002" 
    name="PROJECT NAME HERE" 
    image="https://images.unsplash.com/photo-1465101046530-73398c7f28ca?auto=format&fit=crop&w=1200&q=80" />
</div> 